In [1]:
import sqlite3
import pandas as pd

database = './database.sqlite'

conn = sqlite3.connect(database)

tables = pd.read_sql("""SELECT *
                        FROM sqlite_master
                        WHERE type='table';""", conn)
tables

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
4,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
5,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
6,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."
7,table,Team_Attributes,Team_Attributes,2,CREATE TABLE `Team_Attributes` (\n\t`id`\tINTE...

In [2]:
data = pd.read_sql("""SELECT *
                      FROM sqlite_master
                      WHERE type=='table';""", conn)
data.head(12)

,type,name,tbl_name,rootpage,sql
0,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
1,table,Player_Attributes,Player_Attributes,11,"CREATE TABLE ""Player_Attributes"" (\n\t`id`\tIN..."
2,table,Player,Player,14,CREATE TABLE `Player` (\n\t`id`\tINTEGER PRIMA...
3,index,sqlite_autoindex_Player_1,Player,15,None
4,index,sqlite_autoindex_Player_2,Player,17,None
5,table,Match,Match,18,CREATE TABLE `Match` (\n\t`id`\tINTEGER PRIMAR...
6,index,sqlite_autoindex_Match_1,Match,19,None
7,table,League,League,24,CREATE TABLE `League` (\n\t`id`\tINTEGER PRIMA...
8,index,sqlite_autoindex_League_1,League,25,None
9,table,Country,Country,26,CREATE TABLE `Country` (\n\t`id`\tINTEGER PRIM...
10,index,sqlite_autoindex_Country_1,Country,28,None
11,table,Team,Team,29,"CREATE TABLE ""Team"" (\n\t`id`\tINTEGER PRIMARY..."

In [6]:
t1 = pd.read_sql("""SELECT *                                      
                                FROM sqlite_sequence
                                LIMIT 10;""", conn)
display(t1)

t2 = pd.read_sql("""SELECT *                                      
                                FROM Player_Attributes
                                LIMIT 10;""", conn)
print("Player_Attributes")
display(t2)

t3 = pd.read_sql("""SELECT *                                      
                                FROM Player
                                LIMIT 10;""", conn)
print("Player")
display(t4)

t4 = pd.read_sql("""SELECT *                                      
                                FROM League
                                LIMIT 10;""", conn)
display(t4)

t5 = pd.read_sql("""SELECT *                                      
                                FROM Country
                                LIMIT 10;""", conn)
display(t5)

t6 = pd.read_sql("""SELECT *                                      
                                FROM Team
                                LIMIT 10;""", conn)
display(t6)

t7 = pd.read_sql("""SELECT *                                      
                                FROM Team_Attributes
                                LIMIT 10;""", conn)
display(t7)

                name     seq
0               Team  103916
1            Country   51958
2             League   51958
3              Match   51958
4             Player   11075
5  Player_Attributes  183978
6    Team_Attributes    1458

Player_Attributes

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,...,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
1,2,218353,505942,2015-11-19 00:00:00,67,71,right,medium,medium,49,...,54,48,65,69,69,6,11,10,8,8
2,3,218353,505942,2015-09-21 00:00:00,62,66,right,medium,medium,49,...,54,48,65,66,69,6,11,10,8,8
3,4,218353,505942,2015-03-20 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
4,5,218353,505942,2007-02-22 00:00:00,61,65,right,medium,medium,48,...,53,47,62,63,66,5,10,9,7,7
5,6,189615,155782,2016-04-21 00:00:00,74,76,left,high,medium,80,...,66,59,76,75,78,14,7,9,9,12
6,7,189615,155782,2016-04-07 00:00:00,74,76,left,high,medium,80,...,66,59,76,75,78,14,7,9,9,12
7,8,189615,155782,2016-01-07 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12
8,9,189615,155782,2015-12-24 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12
9,10,189615,155782,2015-12-17 00:00:00,73,75,left,high,medium,79,...,65,59,76,75,78,14,7,9,9,12

Player

      id  country_id                      name
0      1           1    Belgium Jupiler League
1   1729        1729    England Premier League
2   4769        4769            France Ligue 1
3   7809        7809     Germany 1. Bundesliga
4  10257       10257             Italy Serie A
5  13274       13274    Netherlands Eredivisie
6  15722       15722        Poland Ekstraklasa
7  17642       17642  Portugal Liga ZON Sagres
8  19694       19694   Scotland Premier League
9  21518       21518           Spain LIGA BBVA

      id  country_id                      name
0      1           1    Belgium Jupiler League
1   1729        1729    England Premier League
2   4769        4769            France Ligue 1
3   7809        7809     Germany 1. Bundesliga
4  10257       10257             Italy Serie A
5  13274       13274    Netherlands Eredivisie
6  15722       15722        Poland Ekstraklasa
7  17642       17642  Portugal Liga ZON Sagres
8  19694       19694   Scotland Premier League
9  21518       21518           Spain LIGA BBVA

      id         name
0      1      Belgium
1   1729      England
2   4769       France
3   7809      Germany
4  10257        Italy
5  13274  Netherlands
6  15722       Poland
7  17642     Portugal
8  19694     Scotland
9  21518        Spain

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB
5   6         8635             229.0     RSC Anderlecht             AND
6   7         9991             674.0           KAA Gent             GEN
7   8         9998            1747.0          RAEC Mons             MON
8   9         7947               NaN      FCV Dender EH             DEN
9  10         9985             232.0  Standard de Liège             STL

,id,team_fifa_api_id,team_api_id,date,buildUpPlaySpeed,buildUpPlaySpeedClass,buildUpPlayDribbling,buildUpPlayDribblingClass,buildUpPlayPassing,buildUpPlayPassingClass,...,chanceCreationShooting,chanceCreationShootingClass,chanceCreationPositioningClass,defencePressure,defencePressureClass,defenceAggression,defenceAggressionClass,defenceTeamWidth,defenceTeamWidthClass,defenceDefenderLineClass
0,1,434,9930,2010-02-22 00:00:00,60,Balanced,NaN,Little,50,Mixed,...,55,Normal,Organised,50,Medium,55,Press,45,Normal,Cover
1,2,434,9930,2014-09-19 00:00:00,52,Balanced,48.0,Normal,56,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
2,3,434,9930,2015-09-10 00:00:00,47,Balanced,41.0,Normal,54,Mixed,...,64,Normal,Organised,47,Medium,44,Press,54,Normal,Cover
3,4,77,8485,2010-02-22 00:00:00,70,Fast,NaN,Little,70,Long,...,70,Lots,Organised,60,Medium,70,Double,70,Wide,Cover
4,5,77,8485,2011-02-22 00:00:00,47,Balanced,NaN,Little,52,Mixed,...,52,Normal,Organised,47,Medium,47,Press,52,Normal,Cover
5,6,77,8485,2012-02-22 00:00:00,58,Balanced,NaN,Little,62,Mixed,...,55,Normal,Organised,40,Medium,40,Press,60,Normal,Cover
6,7,77,8485,2013-09-20 00:00:00,62,Balanced,NaN,Little,45,Mixed,...,55,Normal,Organised,42,Medium,42,Press,60,Normal,Cover
7,8,77,8485,2014-09-19 00:00:00,58,Balanced,64.0,Normal,62,Mixed,...,57,Normal,Organised,41,Medium,42,Press,60,Normal,Cover
8,9,77,8485,2015-09-10 00:00:00,59,Balanced,64.0,Normal,53,Mixed,...,63,Normal,Free Form,49,Medium,45,Press,63,Normal,Cover
9,10,614,8576,2010-02-22 00:00:00,60,Balanced,NaN,Little,40,Mixed,...,55,Normal,Organised,30,Deep,70,Double,30,Narrow,Offside Trap

In [14]:
from keras.models import Model
from keras.layers import Input, Activation, Flatten, Dense, Concatenate
from keras.optimizers import Adam
from IPython.display import SVG
from keras.utils.vis_utils import model_to_dot

# We first need to define the sequence of dependencies (the computational graph)
team0 = Input(shape=(100,)) # TODO shape
team1 = Input(shape=(100,)) # TODO shape
dense = Dense(100)
h0 = dense(team0)
h1 = dense(team1)
h0 = Activation('relu')(h0)
h1 = Activation('relu')(h1)

# Concatenate the convolutional features and the vector input
concat_layer= Concatenate()([h0, h1])
h = Dense(1)(concat_layer)
output = Activation('tanh')(h)

# define a model with two inputs
model = Model(inputs=[team0, team1], outputs=output)
model.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(lr=0.00001), metrics=['accuracy'])
model.summary()

SVG(model_to_dot(model, show_shapes=True).create(prog='dot', format='svg'))

__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_25 (InputLayer)           (None, 100)          0
__________________________________________________________________________________________________
input_26 (InputLayer)           (None, 100)          0
__________________________________________________________________________________________________
dense_23 (Dense)                (None, 100)          10100       input_25[0][0]
                                                                 input_26[0][0]
__________________________________________________________________________________________________
activation_31 (Activation)      (None, 100)          0           dense_23[0][0]
__________________________________________________________________________________________________
activation_32 (Activation)      (None, 100)          0           dense_23[1][0]
__________________________________________________________________________________________________
concatenate_11 (Concatenate)    (None, 200)          0           activation_31[0][0]
                                                                 activation_32[0][0]
__________________________________________________________________________________________________
dense_24 (Dense)                (None, 1)            201         concatenate_11[0][0]
__________________________________________________________________________________________________
activation_33 (Activation)      (None, 1)            0           dense_24[0][0]
==================================================================================================
Total params: 10,301
Trainable params: 10,301
Non-trainable params: 0
__________________________________________________________________________________________________